<h1>KelloggCoin Ledger</h1>

<% transactions = Transaction.all %>
<% users = User.all %>

<!-- Step 2: Calculate and display the balances -->

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->



<h1> Expected balances: </h1>

<% for user in users %>
<% additions = Transaction.where({"to_user_id" => user.id }).sum("amount") %>
<% subtractions = Transaction.where({"from_user_id" => user.id }).sum("amount")%>
<% balance = additions - subtractions %>

<p> Balance for <%= user.name %>: <%= balance %> KC </p>

<% end %>


<ol>
<% for transaction in transactions %>
<% sender = User.find_by({"id" => transaction.from_user_id}) %>
<% receiver = User.find_by({"id" => transaction.to_user_id}) %>
<li>
    <% if sender %> 
         <%= transaction.amount %> KC from <%= sender.name %> 
    <% else %> 
        Initial coin offering: <%= transaction.amount %>
    <% end %> 
    to <%= receiver.name %> </li>
<% end %>
</ol>